select {
    padding: 11px 12px;
    border: 2px solid, rgb(1, 55, 40);
    color: rgba(1, 55, 40, 0.649);
    font-size: 16px;
    margin: 40px 17px;
    border-radius: 5px;
}

table {

    border-color: rgb(1, 55, 40);
    color: rgba(1, 55, 45, 0.934);

}